* {
    color: #162129;
}
.pointer {
    cursor: pointer;
}
.card {
    width: 100%;
}
.card, .modal-body {
    background-color: whitesmoke;
}
#modalTrigger {
    margin-right: 2em;
}
.icon-link, .icon-link:hover, .tag-link, .tag-link:hover {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: lightgray;
}
nav {
    margin-bottom: 1em;
}
.material-icons.red {
    color: firebrick;
}
.material-icons.red:hover, .material-icons.down:hover {
    color: darkred;
}
.material-icons.green {
    color: darkolivegreen;
}
.material-icons.green:hover, .material-icons.up:hover {
    color: darkgreen;
}
.material-icons.white, .material-icons.white:hover {
    color:white;
}
.material-icons {
    color: gray;
}
.material-icons:hover {
    color: dimgray;
}
.ui-helper-hidden-accessible {
    display:none;
}
.ui-menu-item a{
    color: #162129;
    text-decoration: none;
    cursor: pointer;
}
.ui-menu-item > a {
    padding-left: .5em;
}
.ui-menu-item:hover {
    background-color: lightslategray;
}
.ui-menu {
    padding-top: .5em;
    background-color: darkgray;
    list-style: none;
    padding-left: 0;
    padding-top: 0;
}
.ui-autocomplete {
    z-index:2147483647;
    width: 10%;
}
img {
    display: block;
    max-width: 45%;
    height: auto;
    padding-top: 1em;
}
