{% extends "base.html" %} {% block navcontent %}
<button id="modalTrigger" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#postModal">
        New Post
</button> {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        {% for post in posts %} {% include "card.html" %} {% else %}
        <div class="mx-auto">
            <h3>No posts yet...</h3>
        </div>
        {% endfor %}
    </div>
</div>

{% include "modal.html" %} {% endblock %}