<div class="card mb-2">
    <div class="card-header">
        {% if post.author == current_user.user_id %}
        <a class="pointer icon-link" href="{{url_for('deletePost', post_id=post.post_id)}}">
            <i class="material-icons">delete</i>
        </a>
        {% endif %} {% if post in current_user.saved %}
        <a class="pointer icon-link save" id="save-{{post.post_id}}">
            <i class="material-icons red">save</i>
        </a>
        {% else %}
        <a class="pointer icon-link save" id="save-{{post.post_id}}">
            <i class="material-icons">save</i>
        </a>
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.posted.strftime('%d-%m-%Y') }}</h6>
        <p>{{ post.content|markdown|striptags|truncate(100) }}</p>
        <a href="{{url_for('post',num=post.post_id)}}" class="card-link">
            <i class="material-icons">expand_more</i></a>
    </div>
    <div class="card-footer text-muted">
        <a class="vote pointer" id="up-{{post.post_id}}">
            {% if post.like_type_by(current_user) == True %}
                <i class="material-icons green up">thumb_up</i>
            {% else %}
                <i class="material-icons up">thumb_up</i>
            {% endif %}
        </a>
        <span id="likes-{{post.post_id}}">{{ post.num_likes }}</span>
        <a class="vote pointer" id="down-{{post.post_id}}">
            {% if post.like_type_by(current_user) == False %}
                <i class="material-icons red down">thumb_down</i>
            {% else %}
                <i class="material-icons down">thumb_down</i>
            {% endif %}
        </a>
        <div class="float-right">
            {% for tag in post.tags %}
            <a href="{{url_for('feed', tag=tag.tag_name)}}" class="tag-link">
                <span class="badge badge-pill badge-secondary tag">
                    {{ tag.tag_name }}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>