{% extends "base.html" %} {% block content %}

<div class="container-fluid">
    {% if changed == True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Password changed!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% for error in form.current.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% for error in form.new.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% for error in form.confirm_new.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <form action="{{url_for('changePassword')}}" method="POST" name="changePwdForm">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="current">Current Password</label>
            {{ form.current(class_="form-control", id="current", placeholder="")}}
        </div>
        <div class="form-group">
            <label for="new">New Password</label>
            {{ form.new(class_="form-control", id="new", placeholder="")}}
        </div>
        <div class="form-group">
            <label for="confirm-new">Confirm New Password</label>
            {{ form.confirm_new(class_="form-control", id="confirm-new", placeholder="")}}
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>

{% endblock %}