{% extends "base.html" %} {% block navcontent %}
{% if tag_filter != "all" %}
<a type="button" class="btn btn-outline-danger mr-4" href="{{url_for('feed')}}">Clear Filters</a>
{% endif %}
<button id="modalTrigger" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#postModal">
    New Post
</button> {% endblock %} {% block content %} 
<div class="container-fluid">
    <nav aria-label="pagination">
        <ul class="pagination justify-content-center">
            <!-- PREVIOUS BUTTON -->
            {% if page_n == 1 %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('feed', page=page_n-1,tag=tag_filter)}}" tabindex="-1">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    {% endif %}
                </li>

                <!-- PAGE NUMBERS -->
                {% for i in range(1,(((posts|length)/max_posts)|round(0,'ceil')|int) +1) %} {% if i == page_n %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="{{url_for('feed', page=i,tag=tag_filter)}}">{{ i }}<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{url_for('feed', page=i,tag=tag_filter)}}">{{ i }}</a></li>
                {% endif %} {% endfor %}

                <!-- NEXT BUTTON -->
                {% if page_n == ((posts|length)/max_posts)|round(0,'ceil')|int or posts|length == 0 %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('feed', page=page_n+1,tag=tag_filter)}}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        {% endif %}
                    </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-md-3 col-sm-12 mb-5">
            <h4>Top 10 Trending Tags</h4> {% include "popular_tags.html" %}
        </div>
        <div class="col-md-9 col-sm-12">
            {% for post in posts[(page_n-1)*max_posts:((page_n-1)*max_posts)+max_posts] %} {% include "card.html" %} {% else %}
            <div class="col-md-7 mx-auto">
                <h4>No posts found...</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include "modal.html" %} {% endblock %}