{% extends "base.html" %} {% block content %} {% if which_form == 1 %} {% for error in errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %} {% else %} {% for error in form.user_name.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %} {% for error in form.password.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %} {% for error in form.confirm.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %} {% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <h1>{{ app_name }}</h1>
        </div>
        <div class="col-md-7 col-sm-12">
            {% if which_form == 1 %} {% include "login_form.html" %} {% else %} {% include "signup_form.html" %} {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div>
        <img src="{{url_for('static', filename='penguin.png')}}" class="mr-auto" alt="Penguin">
    </div>
</div>
{% endblock %}