<form action="{{url_for('index')}}" method="POST" name="loginForm" id="loginForm">
    {{ form.hidden_tag() }}
    <div class="form-row">
        <div class="col">
            {{ form.user_name(class_="form-control", id="username_in", placeholder="Username")}}
        </div>
        <div class="col">
            {{ form.password(class_="form-control", id="pwd_in", placeholder="Password")}}
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>
<small>No account? <a href="{{url_for('signup')}}">Sign up here!</a></small>