<div class="modal fade" id="postModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form action="{{url_for('postForm')}}" method="POST" name="postForm">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                      <label for="title_in">Title</label>
                      {{ form.title(class_="form-control", id="title_in", placeholder="Title")}} {% for error in form.title.errors %}
                      <span style="color: red;">[{{ error }}]</span> {% endfor %}
                  </div>
                  <div class="form-group">
                      <label for="tags_in">Tags</label>
                      {{ form.tags(class_="form-control", id="tags_in", placeholder="Tags ( ; separated )")}} {% for error in form.tags.errors %}
                      <span style="color: red;">[{{ error }}]</span> {% endfor %}
                  </div>
                  <div class="form-group">
                      <label for="content_in">Content</label>
                      {{ form.content(class_="form-control", id="content_in", placeholder="Markdown content", rows="10")}} {% for error in form.content.errors %}
                      <span style="color: red;">[{{ error }}]</span> {% endfor %}
                  </div>
                  <button type="submit" class="btn btn-primary">Post</button>
              </form>
          </div>
      </div>
  </div>
</div>