<div class="list-group">
    {% for tag in all_tags[:10] %}
    <a href="{{url_for('feed',tag=tag.tag_name)}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center tag">
        {{ tag.tag_name }}
        <span class="badge badge-primary badge-pill">{{ tag.count }}</span>
    </a> {% endfor %}
</div>