{% extends "base.html" %} {% block content %}
<div class="container">
    <h1><strong>{{ post.title }}</strong></h1>
    <small>by {{ post.user }} on {{ post.posted.strftime('%d-%m-%Y') }}</small>
    <br> {% for tag in post.tags %}
    <span class="badge badge-pill badge-secondary">{{ tag.tag_name }}</span> {% endfor %}
    <div class="row mt-3 mb-5">
        <div class="col">
            <hr class="bg-dark"> {{ post.content|markdown }}
        </div>
    </div>
    <hr class="bg-dark">

    <h5><strong>Comments</strong></h5>
    <div class="row">
        <div class="col-8 pb-3">
            <form action="" method="POST" name="commentForm">
                {{ comment_form.hidden_tag() }}
                <div class="form-row">
                    <div class="col-10">
                        {{ comment_form.content(class_="form-control", id="comment_in", placeholder="Comment")}} {% for error in comment_form.content.errors %}
                        <span style="color: red;">[{{ error }}]</span> {% endfor %}
                    </div>
                    <div class="col-2">
                        <!-- <button type="submit" class="btn btn-primary">Comment</button> -->
                        <button type="submit" class="btn btn-primary">
                            <i class="material-icons white">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for comment in post.comments %}
            <div class="card mb-3">
                <div class="card-body">
                    {{ comment.comment|markdown }}
                </div>
                <div class="card-footer text-muted">
                    {{ comment.user }} {{ comment.date_time.strftime('%d-%m-%Y') }}
                </div>
            </div>
            {% else %}
            <p class="text-muted">No comments yet...</p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}