<form action="{{url_for('signup')}}" method="POST" name="signupForm" id="signupForm">
    {{ form.hidden_tag() }}
    <div class="form-row">
        <div class="col">
            {{ form.user_name(class_="form-control", id="username_in", placeholder="Username")}}
        </div>
        <div class="col">
            {{ form.password(class_="form-control", id="pwd_in", placeholder="Password")}}
        </div>
        <div class="col">
            {{ form.confirm(class_="form-control", id="confirm_in", placeholder="Confirm password")}}
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Signup</button>
        </div>
    </div>
</form>
<small>Already signed up? <a href="{{url_for('index')}}">Login here!</a></small>